USE OnlineBusTicket
go
/********________Table City_____________**********/
/*1______Insert City___________*/
create procedure IsertCity
 (
	@Name varchar(50)
 )

as
insert into City values (@Name) 

go
/*______select all______*/
create procedure SelectCity  
as
select * from City

go
/*_______Update cityID_________*/
create procedure UpdateCityID
@Name varchar(50),
@id int
as
update City set [Name]=@Name where Ci_Id=@id  
go
/*__________Delete CityID_____________*/
create procedure DeleteCityID   
@id int
as
delete from City where Ci_Id=@id 

go
/*2______Insert NewAndEvent___________*/
Create procedure InsertNewAndEvent   
(
	@Title varchar(100),
	@Content varchar(1000),
	@Author varchar(100), 
	@Date datetime,
	@Status bit      
)
as 
begin
insert into NewAndEvent values (@Title,@Content,@Author,@Date,@Status) 
end

go
/*_____select all_________*/
create procedure SelectNewAndEvent  
as
select * from NewAndEvent 
go
/*______SelectbyID___________________*/
create procedure SelectbyID
@id int
as
Select * from NewAndEvent where NE_Id=@id
go

execute SelectbyID '5'
go
/*______Update NewAndEventID_____________*/
create procedure UpdateNewAndEventID 
@Title varchar(100),
@Content varchar(1000),
@Author varchar(100), 
@Date datetime,
@Status bit,  
@id int
as
update NewAndEvent set Title=@Title,[Content]=@Content,Author=@Author,Date=@Date,[Status]=@Status where NE_Id=@id 

go
/*Delete NewAndEventID_____________*/
create procedure DeleteNewAndEventID 
@id int
as
delete from NewAndEvent where NE_Id=@id

go

/*3______Insert Admin___________*/
create procedure InsertAdmin 
(
	@UserName varchar(30),
	@Pass varchar(30),
	@FullName varchar(100),
	@Address varchar(100),  
	@PhoneNumber varchar(10)	
)
as 
insert into [Admin] values (@UserName,@Pass,@FullName,@Address,@PhoneNumber)

go
/*_____select all Admin_________*/
create procedure SelectAdmin
as
select * from [Admin]

go
/*______Update AdminID_____________*/
create procedure UpdateAdminID 

	@UserName varchar(30),
	@Pass varchar(30),
	@FullName varchar(100),
	@Address varchar(100),  
	@PhoneNumber varchar(10),
	@id int	

as

update [Admin] set UserName=@UserName,Pass=@Pass,FullName=@FullName,[Address]=@Address,PhoneNumber=@PhoneNumber where A_Id=@id

go
/*Delete AdminID_____________*/
create procedure DeleteAdminID
@id int
as
delete from [Admin] where A_Id=@id