<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->		
		<add key="port" value="1976" />		
		<add key="server" value="" />		
		<add key="domain" value="fsoft.fpt.vn" />	
		
		<add key="txtDomain.Text" value="fsoft.fpt.vn" />
	</appSettings>
</configuration>