---create procedure
alter procedure proCity
 (
	@Name varchar(50)
 )
as
insert into City values (@Name)   --insert du lieu 64 tinh thanh



alter procedure selectproCity  --Cau lenh select lay ra thong tin
as
select * from City
exec selectproCity

alter procedure updateproCity ---create procedure update 
@Name varchar(50),
@id int
as
update City set [Name]=@Name where Ci_Id=@id  --cau lenh update thong tin
exec updateproCity 'ha noi','2' 


alter procedure deleteproCity   --create procedure delete 
@id int
as
delete from City where Ci_Id=@id  --deldete thong tin thanh pho
exec deleteproCity '2' --delete id bang 2


create procedure proNewAndEvent   --create procedure proNewAndEvent
(
	@Title varchar(200),
	@Content varchar(100),
	@Author varchar(100), 
	@Date datetime,
	@Status bit      
)
as 
begin
insert into NewAndEvent values (@Title,@Content,@Author,@Date,@Status) -- cau lenh insert 
end



create procedure selectproNewAndEvent  
as
select * from NewAndEvent  --select thong tin table NewAndEvent
exec proNewAndEvent

create procedure updateproNewAndEvent --create procedure updateproNewAndEvent
@Title varchar(200),
@Content varchar(100),
@Author varchar(100), 
@Date datetime,
@Status bit,  
@id int
as
update NewAndEvent set Title=@Title,[Content]=@Content,Author=@Author,Date=@Date,[Status]=@Status where NE_Id=@id --update thong tin
exec updateproNewAndEvent 'TAI NẠN XE BUS HA NOI','Sáng nay đoàn ôtô tải đang dừng đèn đỏ ở ngã tư sở (xa lộ Hà Nội, quận đống đa, thủ đô hà nội) thì một xe buýt bất ngờ đâm từ phía sau.','Mr.KIng','11/11/2010','1','1'

create procedure deleteproNewAndEvent 
@id int
as
delete from NewAndEvent where NE_Id=@id --delete thong tin
exec deleteproNewAndEvent '1'

alter procedure proAdmin --create procedure proAdmin
(
	@UserName varchar(30),
	@Pass varchar(30),
	@FullName varchar(100),
	@Address varchar(100),  
	@PhoneNumber varchar(10)	
)
as 
insert into [Admin] values (@UserName,@Pass,@FullName,@Address,@PhoneNumber) --insert du lieu



alter procedure selectproAdmin
as
select * from [Admin] --select thong tin table [Admin]
exec selectproAdmin


alter procedure updateproAdmin --create procedure updateproAdmin

	@UserName varchar(30),
	@Pass varchar(30),
	@FullName varchar(100),
	@Address varchar(100),  
	@PhoneNumber varchar(10),
	@id int	

as
--update thong tin
update [Admin] set UserName=@UserName,Pass=@Pass,FullName=@FullName,[Address]=@Address,PhoneNumber=@PhoneNumber where A_Id=@id
exec updateproAdmin 'Mr.KIngp_zo','datlq','1234567','ha noi','01664244255','67'


create procedure deleteproAdmin
@id int
as
delete from [Admin] where A_Id=@id --delete admin
exec deleteproAdmin '67'